In [1]:
# dependencies
import pandas as pd

In [2]:
# files to load
student_data_to_load = 'Resources/Students_complete.csv'

In [3]:
# read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# put the student names in a list
student_names = student_data_df['student_name'].tolist()

In [5]:
# split the student name and determine the length of the name split
# for name in student_names:
   # print(name.split(), len(name.split()))

In [6]:
# create a new list & use for loop to iterate through list
students_to_fix = []

# use an if statement to check length of the name
    # if the name is >= 3, add name to list
for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
    
# get the length of those students
len(students_to_fix)

1531

In [7]:
# add prefixes <= 4 to a new list
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

In [8]:
# add sufixes <= 3 to a new list
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [9]:
# get the unique items in the prefixes list
set(prefixes)

# get the unique items in the suffixes list
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [10]:
# add each prefix and suffix to remove to a list
prefixes_suffixes = ['Dr. ', 'Mr. ', 'Ms. ', 'Mrs. ', 'Miss ', ' MD', ' DDS', ' DVM', ' PhD']

In [11]:
# iterate through the prefixes_suffixes list and replace them with an empty string
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,"")
    
student_data_df.head()

C:\Users\rachm\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
# put the cleaned students' names in another list
student_names = student_data_df['student_name'].tolist()

In [14]:
# create a new list to use for loop to iterate through list
students_fixed = []

# use an if statement to check the length of the name
    # if name is >= 3, add to list
for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
        
# get the length of student names >= 3
len(students_fixed)

151